.centro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* deixa na mesma linha */
  max-width: 1280px; /* limita a largura */
  margin: 0 auto;
  padding: 0.2%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212); /* sombra ao redor do box */
}
.title {
  text-align: center;
  margin-bottom: 16px;
}

form {
  /*ajeita a área do formulário*/
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.todosInputs {
  /* deixa um do lado do outro */

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 1% 0;
}

.inputBox {
  /* cria espaçamento */
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.inputBox input {
  /* personaliza os inputs */
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.inputBox input:hover {
  /* muda o fundo quando passa o mouse */
  background-color: #ffeee6;
}

.inputBox input:focus-visible {
  /* muda cor da borda quando clica */
  outline: 1px solid #a0522d;
}

.inputBox label {
  font-size: 0.8rem;
  font-weight: bold;
}

#tituloGenero {
  font-size: 0.8rem;
  font-weight: bold;
}

textarea {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

textarea:focus-visible {
  /*muda a cor da borda quando está em foco*/
  outline: 1px solid #a0522d;
}

.inputGenero label {
  font-weight: normal;
}

/*ESTILIZANDO O BOTÃO ENVIAR*/
.botaoEnviar {
  display: flex;
  width: 100%;
}

.botaoEnviar input {
  width: 50%;
  border: none;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 5px;
  cursor: pointer;
  color: #a0522d;
  font-weight: bold;
  outline: 1px solid #a0522d;
  margin: 0 auto;
}

.botaoEnviar input:hover {
  /* muda a cor do botão enviar quando passa o mouse */
  background-color: #a0522d;
  color: #ffffff;
}

.selectBox {
  margin: 1.5rem;
}

.selectBox label {
  font-size: 0.8rem;
  font-weight: bold;
}

.subTitle {
  font-size: 0.8rem;
  font-weight: bold;
}

.selectItems {
  display: flex;
  gap: 24px;
}
